header{
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: lightblue;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
aside{
	float: left;
	background-color: pink;
	margin-top: 5px;
 	height: 1000px;
 	width: 250px;
 	border-style: solid;
	border-width: 5px;
 	border-color: black;
 	text-align: center;
}
#asideimg{
	 float: right;
	 text-align: right;
	 width: 100px;
	 height: auto;
}
#asideli{
	 float: left;
	 text-align: left;
	 width: 200px;
	 height: auto;
}
main {
	 background-color: lime;
	 margin-top:5px;
	 padding-top: 5px;
	 border-style: solid;
	 border-width: 5px;
	 border-color: black;
	 text-align: center;
	 height: 1000px;
	 width: auto;
}
footer {
	clear: both;
	background-color: wheat;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	text-align: center;
	width: auto;
	height: 60px;
}
@keyframes moveAnimation{
	0% {margin: 2; height: 20; width: 50; border-style: solid; border-color: black; padding: 8px; font-size: 80; left: 5px;}
	25% {margin: 8; height: 50; width: 100; border-style: dotted; border-color: grey; padding: 40px; font-size: 17; left: 100px;}
	50% {margin: 19; height: 29; width: 52; border-style: groove; border-color: red; padding: 2px; font-size: 5; left: 300px;}
	75% {margin: 15; height: 33; width: 11; border-style: dashed; border-color: blue; padding: 88px; font-size: 100; left: 1000px;}
	100% {margin: 11; height: 45; width: 80; border-style: ridge; border-color: pink; padding: 14px; font-size: 55; left: 0px;}
}
@keyframes moveAnimation2{
	0% {margin: 24; height: 22; width: 33; border-style: solid; border-color: lightgrey; padding: 100px; font-size: 5; bottom: 10px;}
	25% {margin: 3; height: 11; width: 101; border-style: dotted; border-color: yellow; padding: 25px; font-size: 64; bottom: 80px;}
	50% {margin: 14; height: 44; width: 52; border-style: groove; border-color: navy; padding: 77px; font-size: 23; left: 200px;}
	75% {margin: 15; height: 34; width: 11; border-style: dashed; border-color: limegreen; padding: 1px; font-size: 87; left: 500px}
	100% {margin: 12; height: 50; width: 80; border-style: ridge; border-color: lightblue; padding: 15px; font-size: 42; left: 2000px;}
}
@keyframes moveAnimation3{
	0% {margin: 22; height: 21; width: 50; border-style: solid; border-color: wheat; padding: 24px; font-size: 3; left: 1000px}
	25% {margin: 3; height: 54; width: 100; border-style: dotted; border-color: green; padding: 200px; font-size: 55; left: 500px;}
	50% {margin: 16; height: 26; width: 52; border-style: groove; border-color: maroon; padding: 61px; font-size: 22; left: 200px;}
	100% {margin: 11; height: 41; width: 80; border-style: ridge; border-color: hotpink; padding: 79px; font-size: 9; bottom: 500px;}
}

#box1{
	height: 100px;
	width: 100px;
	background: red;
	position: relative;
	animation-name: moveAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#box2{
	height: 100px;
	width: 100px;
	background: lightblue;
	position: relative;
	animation-name: moveAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#box3{
	height: 100px;
	width: 100px;
	background: lime;
	position: relative;
	animation-name: moveAnimation3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#box4{
	height: 100px;
	width: 100px;
	background: pink;
	position: relative;
	animation-name: moveAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#box5{
	height: 100px;
	width: 100px;
	background: yellow;
	position: relative;
	animation-name: moveAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#box6{
	height: 100px;
	width: 100px;
	background: grey;
	position: relative;
	animation-name: moveAnimation3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#box7{
	height: 100px;
	width: 100px;
	background: purple;
	position: relative;
	animation-name: moveAnimation3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#box8{
	height: 100px;
	width: 100px;
	background: blue;
	position: relative;
	animation-name: moveAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}